{{ $isHome := .IsHome }}


{{ $authorName := "" }}
{{ $authorURL  := "" }}

{{ if eq .Kind "term" }}
  {{ $authorName = .Title }}
  {{ $authorURL  = .RelPermalink }}
{{ else if .IsPage }}
  {{ with .Params.author }}
    {{ $authorName = . }}
  {{ end }}
  {{ $terms := .GetTerms "author" }}
  {{ with index $terms 0 }}
    {{ $authorURL = .RelPermalink }}
  {{ end }}
{{ end }}



<nav class="site-nav">
  <a href="{{ site.Home.RelPermalink }}" class="nav-dot" aria-label="Inicio"></a>
  <span class="nav-breadcrumb">
    {{ if $authorName }}
      {{ if $authorURL }}
        <a href="{{ $authorURL }}">{{ $authorName }}</a>
      {{ else }}
        {{ $authorName }}
      {{ end }}
    {{ else }}
      {{ if $isHome }}
        Poesía selecta
      {{ end }}
    {{ end }}
  </span>
</nav>